@import "bootstrap";

$navbar-default-bg: #FFF; 

#logo {
  float: left;
  font-size: 1.7em;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #000000;
  text-decoration: none;
}