@import "bootstrap";
@import "bootstrap-datepicker3";

/* Global font to customise appearance */
body {
  font-family: 'Work Sans', sans-serif;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #562300;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #562300;
  text-decoration: none;
}

.center {
  text-align: center;
}

.btn-outline-success  {
  border-color: #865846;
  color: #865846;
}

.btn-outline-success:hover  {
  background-color: #865846;
  border-color: #FFF;
}

.jumbotron {
  background-image: asset-url("coffee_2.jpg");
  background-size: cover;
  // height: 300px;
}

h1 {
 color: #562300;
}

.jumbotron h1 {
  color: #FFF;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h3 {
  color: #FFF;
  margin-bottom: 30px;
  letter-spacing: -1px;
  width: 60%;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.btn-xlarge {
  background-color: #865846;
  border-color: #FFF;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-danger {
  border-color: #FFF;
}

.btn-xlarge:hover {
  background-color: #562300;
  text-decoration: none;
  border-color: #FFF;
}

.card-body {
  padding: 0.25em;
}

.control-label {
  padding-top: 0;
}

td {
  padding: 1em;
  min-width: 10em;
}

table {
  max-width: 50%;
}

/* disables input number field arrows */
  input[type=number] {
      -moz-appearance:textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

.card-listings, .card-stores {
  background-color: rgb(221, 208, 164);
  min-width: 318px;
  min-height: 180px;
  max-width: 30%;
}

.card-title a {
  color: inherit;
}

.red-delete {
  color: #bc5400;
}

.red-delete:hover {
  color: #bc5400;
  text-decoration: underline;
}

.btn-danger {
  background: #bc5400;
}

.message-card {
  max-width: 60%;
}

.display-image {
  max-width: 80%;
}

.dropdown-menu li a {
  text-decoration: none;
  color: inherit;
}

.page-subtitle {
  color: #562300;
  text-decoration: none;
}

.home-table a {
  text-decoration: none;
  color: #562300;
}

.home-table th {
  border-top: none;
}

.footer {
  display: inline-block;
  bottom: 0;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  padding-top: 15px;
  color: #000000;
}

.mobile-break {
  border-top: 1px solid grey;
  margin-top: 2em;
  padding-top: 1em;
}
  

@media screen and (max-width: 350px) {
  
  .card-listings, .card-stores {
    min-width: 260px;
    min-height: 154px;
  }
  
  img {
    max-width: 260px;
    max-height: 150px;
  }

}

@media screen and (max-width: 765px) {
  
  .inbox-desktop {
    display: none;
  }
  
  .card {
  max-width: 90%;
  }
  
  .message-card {
    max-width: 70%;
  }

  .btn-xlarge {
    margin-bottom: 1em;
  }
  
  .card .btn-xlarge {
    margin-bottom: 0;
  }
  
}

@media screen and (min-width: 765px) {
  
  .inbox-mobile {
    display: none;
  }
  
  .message-card {
    max-width: 60%;
  }
  
  .mobile-break {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
  
}
